<div class="row ">
    <div class="col s12 m3 blue lighten-4" style="height:541px">
        <br>
      <input name="group1" type="radio" id="test1" checked />
      <label for="test1">Time Period</label>
    
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Custom Time Period</label>
        <div class="row" id="time">
          <div class="input-field col s12"> 
              <select id="timetype">
                <option >All</option>
                <option>This Year</option>
                <option>Last Year</option>
                <option >This Month</option>
                <option >Last Month</option>
                <option >This Week</option>
                <option >Last Week</option>
              </select>
          </div>
        </div>
        
        <div class="row" id="customtime">
          <div class="input-field col s12 m6"> 
              <input id="dateFrom" ng-model='from' type="date" class="datepicker">
              <label for="dateFrom">FROM</label>
          </div>
          <div class="input-field col s12 m6">
              <input id="dateTo" ng-model='from' type="date" class="datepicker">
              <label for="dateTo">TO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">   
            <i class="material-icons prefix">search</i>                     
            <input name="searchfish" ng-model="searchfish" id="searchfish" placeholder="" type="text">
            <label class="active" for="searchfish">Search Fish</label>
          </div>
           
        </div>
        <div class="card" style="overflow-y: scroll;height:310px">
          <div class="collection" ng-repeat="fish in fishes">
            <a ng-click="selectFish(fish.name)" class="collection-item" style="cursor:pointer">{{fish.name}}<i class="fa fa-circle right" style="color:{{fish.color}}"></i></a>
          </div>
        </div>
      </div><!--left container end-->
      <div class="col s12 m6">
          <div id="fishmap" style="width:auto;height:541px;"></div>
      </div><!--map container end-->
      <div class="col s12 m3 grey lighten-4" >
        <div style="font-size:120%"><i class="fa fa-calendar"></i><span style="font-size:120%" class="blue-text"> {{timeperiod}}</span></div>
        <div style="overflow-y: scroll;height:508px">
        <table class="bordered centered ">
          <thead>
            <tr>
                <th >Fish</th>
                
                <th >Quantity</th>
            </tr>
          </thead>

          <tbody ng-repeat="fish in fishes">
            <tr>
              <td>{{fish.name}}</td>
              <td>{{fish.count1}}</td>
            </tr>
          </tbody>
            <tr>
              <td><b>Total</b></td>
              <td><b>{{totalcount}}</b></td>
            </tr>
        </table>
      </div>
      </div><!--big grid end-->
</div>