

<div class="container" >
<div class="row" >
          <div class="col s12 l6 offset-l3 card-panel">

            <div class="col s12 l10 offset-l1">
              <div class="row">

              <label ><h5>Forgot Password</h5></label>
           
              </div>
              <form name="forgot_password" method="POST" ng-submit="forgotPassword()">
                
                <div class="row">
                  <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="email" ng-model="email" name="email" type="email" required/>
                    <label  for="email">Email</label>
                    <span class="red-text" ng-show="forgot_password.email.$touched && forgot_password.email.$invalid">The Email is required.</span>
                  </div>
                </div>
                
                <div class="row">
                  <div ng-show="fail" class="red-text">{{fail}}</div>
                  <div ng-show="success" class="green-text">{{success}}</div>
                </div>
                <div class="row">
                  
                    <div class="right">
                      <button class="btn waves-effect waves-light" type="submit" >Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </div>
                
              </form>
              
            </div>
            </div>
      </div>
</div>
