

<div class="container" >
<div class="row" >
          <div class="col s12 l6 offset-l3 card-panel">

            <div class="col s12 l10 offset-l1">
              <div class="row">

              <label ><h5>Set New Password</h5></label>
           
              </div>
              <form name="change_password" method="POST" ng-submit="changePassword()">
                
                <div class="row">
                  <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="new_password" name="new_password" ng-model="new_password" type="password" minlength="5" autofocus required/>
                    <label for="new_password">New Password</label>
                    <span class="red-text" ng-show="change_password.new_password.$touched && change_password.new_password.$error.required">The New Password is required.</span>
                    <span class="red-text" ng-show="change_password.new_password.$touched && change_password.new_password.$error.minlength">Enter at least 5 characters.</span>

                  </div>
                </div>
                <div class="row">
                  <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="new_password_again" name="new_password_again" ng-model="new_password_again" type="password" required/>
                    <label  for="new_password_again">New Password again</label>
                    <span class="red-text" ng-show="change_password.new_password_again.$touched && change_password.new_password_again.$invalid">The New Password again is required.</span>
                    
                  </div>
                </div>
                <div class="row">
                  <div ng-show="message" class="red-text">{{message}}</div>
                </div>
                <div class="row">
                  
                    <div class="right">
                      <button class="btn waves-effect waves-light" type="submit" >Set New Password
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </div>
                
              </form>
              
            </div>
            </div>
      </div>
</div>
