<div class="container">
<div class="row">
        <div class="col s12 m6">
          <div class="card cyan darken-1">
            <div class="card-content white-text">
              <span class="card-title"><i class="fa fa-ship"></i> Vessel Details</span>
              	
	              <div>Registration Number      </div>
	              <div>IOTC Registration Number </div>
	              <div>Vessel Name              </div>
	              <div>Vessel Length (m)        </div>
	              <div>Fishing Gear             </div>
	              <div>Storage Capacity (Kg)    </div>

            </div>
            
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card  cyan darken-2">
            <div class="card-content white-text">
              <span class="card-title"><i class="fa fa-cog"></i> Gear Details</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card  cyan darken-3">
            <div class="card-content white-text">
              <span class="card-title"><i class="fa fa-file"></i> Opertaion Details</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card cyan darken-4">
            <div class="card-content white-text">
              <span class="card-title"><i class="fa fa-archive"></i> Catch Details</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
        </div>
      
</div>
    <div class="row">
      <h5>Trip Path</h5>
        <div id="tripmap" style="width:auto;height:600px;"></div>
    </div>
</div>
          